@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<p>List of Users:</p>>
@foreach (var b in Model.Assets)
{
    <p>@Html.DisplayFor(modelItem => b.FirstName</p>
}
