@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Webssss apps with ASP.NET Core</a>.</p>
</div>

<p>List of Users:</p>
@foreach (var b in Model.Users)
{
    <p>@Html.DisplayFor(modelItem => b.FirstName) @Html.DisplayFor(modelItem => b.LastName)</p>
}
