@page
@model InventoryModel



<h1>Inventory</h1>

<p>---------------------------</p>

<p>List of Assets:</p>
@foreach (var b in Model.Assets)
{
    <p>@Html.DisplayFor(modelItem => b.DeviceName) @Html.DisplayFor(modelItem => b.DeviceType) @Html.DisplayFor(modelItem => b.Description)</p>
}
